#logo {
  width: 36px;
}

.banner {
  background-size: cover;
  background-position: center;
  /* background-blend-mode: color; */
  /* background-image: linear-gradient(185deg , hsl(210, 10%, 23%, 0.8) , #343a40 70%), url(../images/bg-o.jpg); */
}

.no-webp .banner, .no-jpeg2000 .banner{
  background-image: url(../images/bg-o.jpg);
}

.webp .banner {
  background-image: linear-gradient(185deg , hsl(210, 10%, 23%, 0.8) , #343a40 70%), url(../images/bg-o.webp);
}

.jpeg2000 .banner {
  background-image: linear-gradient(185deg , hsl(210, 10%, 23%, 0.8) , #343a40 70%), url(../images/bg-o.jpf);
}


.position-fixed {
  top: 2rem;
  right: 2rem;
  z-index: 1;
}

.vh-5 {
  height: 5vh;
}
.vh-15 {
  height: 15vh;
}

.min-vh-75 {
  min-height: 75vh;
}